/* reset */
* {
  margin: 0;
  padding: 0;
  }
ul  {
  list-style: none;
}
a {
  text-decoration: none;
}
/* common css */
.container {
  width: 1150px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
section {
  padding: 150px 0;
  text-align: center;
}
/* 定义相应section背景色为灰色 */
.bg-light-gray {
  background-color: #e7e7e7;
} 

.section-heading {
  font-size: 40px;
  margin-bottom: 15px;
}
.section-subheading {
  color: #666;
  font-size: 16px;
  font-style: italic;
  font-weight:400;
  margin-bottom: 75px;
}
/* 定义所有图片的旋转特效 */
@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
 img:hover {
    animation: spin 3s linear infinite;
}

/* 以下社交按钮是公用的，footer也会用到 */
.social-buttons li {
  width: 40px;
  height: 40px;
  padding: 0 5px;
  display: inline-block;
  line-height: 40px;
}
.social-buttons a {
  width: 40px;
  height: 40px;
  display: block;
  background:#000;
  border-radius: 50%;
  text-align: center;
  transition: all .3s;
}
.social-buttons a i {
  display: block;
  color: #fff;
  font-size: 20px;
}
.social-buttons a:hover {
  background: #aa0000;
}

/* common css end */


/* 定义头部背景图片 */
header {
  height: 850px;
  background: url("../image/bc/bc-header.jpg") center center;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  padding-top: 100px;
}
/* 定义头部文字 */
header .intro-text {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 300px;
}
.btn {
  display: inline-block;
  width: 220px;
  height: 70px;
  margin-top: 30px;
  background: #aa0000;
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  border: 2px solid #c5b3a5;
  border-radius: 7px;
  transition: all 0.3s;

}
.btn:hover {
  background: #ff2525;
  cursor: pointer;
}

/* 定义导航栏 */
nav {
  position: fixed;
  z-index: 999;
  background-color: #000; 
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 0 50px;
}
/* 定义logo，a标签如果是默认inline，就无法设置宽高，如果是block就会独占一行 */
 nav > a {
  display: inline-block;
  height: 70px;
  margin-top: 10px;
}
nav img {
  height: 100%;
}

/* 定义navbar锚点 */
nav .nav-list {
  width: 500px;
  float: right;
  margin-top: 28px;
}
nav .nav-list li {
  float: left;
  padding-left: 30px;
}
nav .nav-list  a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  transition: all 0.3s;
}
/* 定义锚点特效 */
nav .nav-list a:hover {
  color: #C70909;
  font-size: 1.1em;
}
nav .nav-list a:hover::before, 
nav .nav-list a:hover::after { 
  position: absolute;
}
nav .nav-list a:hover::before {
  content: '[';
  left: -10px;
  color: #C70909;
}
nav .nav-list a:hover::after {
  content: ']';
  right:  -10px; 
  color: #C70909;
}

/* 定义section skills */

#skills ul li {
  width: calc(33.33% - 30px);
  padding: 0 15px;
  float: left;
}
#skills img {
  display: block;
  width: 120px;
  margin: 80px auto 0 auto;
  border: 8px solid #e7e7e7;
  border-radius: 50%;
}
#skills h3 {
  margin: 20px 0;
}

/* 定义section relation */

#relation figure {
  width: calc(33.3333% - 30px);
  margin: 15px;
  float: left;
  background-color: #fff;
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.5);
  overflow: hidden;
}
/* 定义a标签伪类背景色 */
#relation figure a {
  display: block;
  position: relative;
}


/* #relation figure a:hover::before {
  content: '+';
  font-size: 200px;
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(158, 57, 59, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}  */

/*
 用以上的方法给图片添加选择伪类，虽然也能完成，但是却很难做到渐变的动画效果。所以采用如下方法，给a标签内再加入一个div容器，设置背景颜色，并且在div创建伪元素，增加“+”号，因为给div设置了透明度为0，所以背景色和伪元素都是看不见的，但却真实存在的。最后为div设置一定的transition渐变效果。 最后给div添加hover伪类，当处于hover状态时，div所包含的一切样式就得以展现。注意在DOM添加的div容器，一定要在a内的img图片之前，否则被img“挡住”，就压根触发不了div，尽管div依然是存在的，但是这时，你把img设置透明度，你也看不到，因为上下顺序的逻辑中，你压根触发不了hover
 */

#relation figure a div {
  background: rgba(232, 65, 68, .8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .5s;
}
#relation figure a div::before {
  content: "+";
  font-size: 200px;
  color: #eee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#relation figure a div:hover {
  opacity: 1;
}

/* 定义 figure内的文本部分*/
#relation figure img {
  width: 100%;
  height: 100%;
}
#relation figure figcaption {
  padding: 20px 20px 10px 20px;
  font-weight: bold;
  line-height: 1.7;
}
#relation figure p {
  color: #666;
  padding: 0 20px 20px 20px;
}


/* 定义about */

/* 定义圆圈 */
#about .timeline li {
  padding: 0 70px;
  margin-bottom: 100px;
  
}
#about .timeline img {
  height: 100%;
}
#about .timeline {
  position: relative;
}
#about .circle {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  border: 8px solid #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
} 
/* 定义时间轴线 */
#about .timeline::before {
  content: '';
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  border-left: 4px solid #e7e7e7;
}
/* 定义文本描述 */
#about .story {
  width: 350px;
  padding: 0 20px 20px 20px;
}
#about .story h4 {
  margin-bottom: 10px;
}
#about .story p {
  color: #666;
}
/* 定义文本左右浮动区别 */
#about .timeline li:nth-child(odd) {
  float: left;
  text-align: right;
  padding-right: calc(100% - 420px);

}
#about .timeline li:nth-child(even) {
  float: right;
  text-align: left;
  padding-left: calc(100% - 420px);
}


/* 定义section team */

#team .team-member {
  float: left;
  width: calc(33.33% - 30px);
  height: 365px;
  padding: 0 15px;
  margin-bottom: 80px;
}
#team .team-member img {
  width: 240px;
  height: 240px;
  border: 8px solid #fff;
  border-radius: 50%;
}
#team .team-member h3 {
  margin-top: 25px;
}
#team .team-member p {
  margin :5px 0 10px 0;
}

/* team 底部文字 */
#team > div > p {
  width: 750px;
  margin: 0 auto;
}


/* 定义aside 客户 logo */
#clients ul li {
  width: calc(25% - 35px);
  height: 150px;
  margin: 0 15px;
  float: left;
}

#clients a {
  display: block;
  width: 120px;
  height: 120px;
  margin: 15px auto;
  background: url("../image/clients/1.jpg") -14px -147px no-repeat;
  background-size: 650%;
}
/* 不同的客户商标 */
#clients .clinent-2 a {
  background-position: -170px -147px;
}
#clients .clinent-3 a {
  background-position: -486px -147px;
}
#clients .clinent-4 a {
  background-position: -645px -147px;
}


/* 定义section contact */

#contact {
  height: 580px;
  background: url("../image/contact/1.jpg") center center;
  background-size: cover;
} 
#contact .section-heading {
  color: #fff;
}
#contact .section-subheading {
  color: #ddd;
}
/* 定义表单 */
#contact .form-control {
  box-sizing: border-box;
  width: calc(50% - 5px);
  height: 260px;
  float: left;
  padding: 0 15px;
}
#contact .form-control form {
  margin-right: 7px;
}
/* 定义共同属性 */
#contact input, textarea {
  display: inline-block;
  width: calc(100% - 40px);
  height: 20px;
  padding: 20px;
  margin-bottom: 26px;
  border: 3px solid #888;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* 对textarea宽高单独微调 */
#contact textarea {
  width: 90%;
  height: 80%;
}
/* 定义选中时字体样式 */
#contact input::selection,
#contact textarea::selection {
  background: #FF8888;
}
/* 定义placeholder的样式 */
 #contact input::-webkit-input-placeholder { 
  color: #aaa;
  font-weight: bold;
}
 #contact textarea::-webkit-input-placeholder { 
  color: #aaa;
  font-weight: bold;
} 


/* 定义footer */

footer > div {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  text-align: center;
}
footer > div > * {
  width: 365px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
}

/* 定义右下角a标签样式 */
footer .quicklinks {
  display: flex;
  justify-content: center;
}
footer .quicklinks li a {
  color: red;
}
footer .quicklinks li a:hover {
  text-decoration: underline;
}
footer .quicklinks li:last-child {
  padding-left: 10px;
}


/* 定义响应式 */

/* 第一阶段 */
@media screen and (max-width: 1200px) {
  .container {
    width: 950px;
  }
  #about .circle {
    width: 134px;
    height: 134px;
    margin-left: -75px;
  } 
  #about .timeline li {
    padding: 0;
  }
  #team > div > p {
    width: 100%;
  }
}

/* 第二阶段 */
@media screen and (max-width: 1000px) {
  .container {
    width: 800px;
  }
  
  #skills ul li {
    width: calc(100% - 30px);
  }

  #relation figure {
    width: calc(50% - 30px);
  }

  #about .circle {
    width: 84px;
    height: 84px;
    margin-left: -50px;
  }
  #about .timeline li {
    padding: 0 25px;
  }
  #about .story {
    width: 270px;
  }

  #team > div > p {
    width: 760px;
  }

  #clients ul li {
    width: calc(50% - 35px);
  }

  #contact {
    height: 710px;
  }
  #contact .form-control {
    width: 100%;
    height: 260px;
    padding: 0 30px;
  }
  #contact textarea {
    height: 200px;
    width: calc(100% - 50px);
    margin-top: 18px;
  }
}

@media screen and (max-width: 800px){
  .container {
    width: 100%;
  }
  
  /* 头部背景图片的响应式 */
  section {
    padding: 100px 0;
    text-align: center;
  }
  /* 头部高度减小 */
  header {
    height: 300px;
    padding-top: 150px;
  }
  header .intro-text {
    font-size: 2rem;
    padding-top: 20px;
  }
  header .intro-text a {
    width: 220px;
    height: 70px;
    margin-top: 30px;
  }
  /* 在响应屏幕时，给submenu添加样式 */
  nav .submenu {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 20px 14px;
    background: url("../image/bc/submenu.png") center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  /* 隐藏导航栏中的链接 */
  nav .nav-list{
    display: none;
  }

  #relation figure {
    float: none;
    width: calc(100% - 30px);
    max-width: 400px;
    margin: 15px auto;
  }
  #about .circle {
    width: 64px;
    height: 64px;
    left: 15px;
    margin-left: 0;
  }
  #about .timeline li:nth-child(n) {
    float: none;
    text-align: left;
    padding: 0;
  }
  #about .timeline {
    padding: 0 20px;
  }
  #about .story {
    width: calc(100% - 100px);
    padding: 0 20px 20px 100px;
  }
  #about .timeline::before {
    left: 55px;
    height: calc(100% + 180px);
  }

  #team .team-member {
    width: calc(100% - 30px);
  }
  #team > div > p {
    width: calc(100% - 30px);
  }

  footer > div {
    flex-wrap: wrap;
  }
}

/* 
关于timeline 响应式

第一阶段，屏幕小于1200px时，内容宽度变窄，相应的circle变成指定大小，同时去除li两边内边距，以令左右story分散一些 

第二阶段，屏幕小于1000px时，容器变为800px，circle变得更小，story也变得更小，同时为了更靠拢一些，加上li的左右padding 

第三阶段，屏幕小于800px时，section100%自适应，circle左边绝对定位，取消所有的li浮动，story自适应, 时间轴左侧绝对定位
 */
